.sugg{
    background-color: aqua;
    width: 300px;
    height: 100px;
    overflow: hidden;
}

.hide{
    visibility: none;
}



.acc{
    width: 300px;
    text-align: center;
    padding-top: 10px;
}
