.glass{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
    transform: translate(-50%, -50%)
    
}

.glass-modal{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}



 .glassy{
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.05);
 }

 .time.ant-picker{
     border-radius: 18px;
 }

 .time.ant-picker-focused{
    border-color: #f50057;
    box-shadow: none;
}

 .time.ant-picker:hover, .ant-picker-focused{
     border-color: #f50057;
     box-shadow: none;
 }

 .ant-picker-now-btn{
     color:#f50057;
 }

 .ant-picker-now-btn:hover{
     color: #f50057;

 }

 .ant-picker-ok button{
    background-color:#f50057;
    border: none;
}

.ant-picker-ok button:hover{
    background-color:#f50057;
    border: none;
}

.ant-picker-time-panel-column > li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner{
    background: #ccffcc;
}

.myprogress  .ant-progress-circle span.ant-progress-text{
color: white !important;
font-family: 'Montserrat', sans-serif !important;
}

.myprogress .ant-progress-status-success .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path{
    stroke: #b00020 !important;
}

.foodtable td{
    font-weight: bold;
    padding:4px;
    padding-left:8px;
    padding-right:8px;
}

.foodtable td>span{
    font-weight: 400;
}

.foodtable > tr>td:nth-child(3){
    font-weight: 500;
  
}